// For Most Popular:

  // .row {
  //   margin-right: -15px;
  //   margin-left: -15px;
  // }
  
  // .col-xs-12 {
  //   width: 100%;
  // }

  // .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  //   float: left;
  // }

  // .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  //   position: relative;
  //   min-height: 1px;
  //   padding-right: 15px;
  //   padding-left: 15px;
  // }

  @media (min-width: 992px) and (max-width: 1199px) {
    .mostpopular .container {
      min-width: 982px;
    }
  }

  @media screen and (max-width: 1366px) {
    .mostpopular .container {
      min-width: 100px;
    }
  }

  .mostpopular .category-list__container {
    padding-bottom: 2rem;
  }

  .container-fluid full-width {
    padding-left: 0px;
  }
  
  .category-list__container category-list__col {
    color: #000000;
    text-decoration: none;
  }
  
  .category-list__col product-badge-sale {
    max-width: 100%;
    min-height: 0px;
    height: 100%;
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .category-container__title {
    color: #2c2a2b;
    font-size: 3rem;
    line-height: 3rem;
    padding: 2rem;
    text-align: center;
    margin: 0;
    font-weight: 400 !important;
  }

  @media (min-width: 1200px) {
    .category-list__container {
      // margin-bottom: 1rem;
      // margin-left: 34px;
      // margin-right: 18px;
      // padding-left: 30px;
      padding-bottom: 2rem;
      //margin-left: 0px;
      //margin-right: 0px;
    }
  }

  .category-list__container {
    padding-bottom: 2rem;
  }

  .category-list__col {
    margin-bottom: 1rem;
  }

  @media (min-width: 1200px) {
    .category-list__col {
      margin-bottom: 1rem;
      margin-left: 34px;
      margin-right: 18px;
      padding-left: 30px;
    }
  }

  @media screen and (max-width: 1366px) {
    .category-list__col {
      margin-bottom: 1rem;
      //  margin-left: 34px;
      margin-right: 18px;
      padding-left: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    .category-list__col {
      margin-bottom: 1rem;
      margin-left: 34px;
      margin-right: 18px;
      padding-left: 30px;
    }
  }

  @media screen and (min-width: 992px) {
    .category-list__col {
      margin-bottom: 1rem;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 0px;
      // width: 12.5%;
      display: inline-block;
    }

    .mostpopular .category-list__col {
      margin-bottom: 1rem;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      display: inline-block;
    }
  }

  .category-list__image {
    object-fit: cover;
  }

  @media screen and (max-width: 1366px) {
    .category-list__image {
      object-fit: cover;
      max-width: 100%;
    }
  }

  @media (min-width: 1200px) {
    .category-list__image {
      object-fit: cover;
      max-width: 100%;
    }
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .category-list__image {
      object-fit: cover;
      max-width: 222%;
    }
  }

  @media (min-width: 500px) and (max-width: 516px) {
    .category-list__image {
      object-fit: cover;
      max-width: 222%;
    }
  }


  @media (min-width: 320px) and (max-width: 480px) {
    .category-list__text {
      position: static !important;
      background: none !important;
      height: 58px !important;
      padding-top: 20px;
      text-align: left;
      width: max-content;
    }
  }

  @media (min-width: 500px) and (max-width: 516px) {
    .category-list__text {
      position: static !important;
      background: none !important;
      height: 58px !important;
      padding-top: 20px;
      text-align: left;
    }
  }

  @media screen and (min-width: 992px) {
    .category-list__text {
      position: static !important;
      background: none !important;
      height: 58px !important;
      padding-top: 20px;
      text-align: center;
    }
  }

  @media screen and (min-width: 768px) {
    .category-list__text {
      position: static !important;
      background: none !important;
      height: 58px !important;
      padding-top: 20px;
      text-align: center;
    }
  }

  @media screen and (min-width: 1201px) and (max-width: 1366px) {
    .category-list__text {
      position: static !important;
      background: none !important;
      height: 58px !important;
      padding-top: 20px;
      text-align: center;
    }
  }

  @media (min-width: 1200px) {
    .category-list__text {
      position: static !important;
      background: none !important;
      height: 58px !important;
      padding-top: 20px;
      text-align: center;
    }
  }

  .category-list-text {
    position: static !important;
    color: #333030;
    font-weight: 600;
    font-size: 22px;
    padding-right: 0px;
    padding-left: 0px;
    display: contents;
  }

  @media (min-width: 1200px) {
    .container {
      min-width: 1260px;
    }
  }

  @media screen and (max-width: 1366px) {
    .container {
      min-width: 100px;
    }
  }

  //21-10 start
  // @media screen and (min-width: 768px) {
  //   .container {
  // // min-width: 1170px;
  //     min-width: 1260px;
  //   }
  // }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      min-width: 982px;
    }
  }

  // @media screen and (min-width: 992px) {
  //   .container {

  //     min-width: 1260px;
  //   }
  // }
  //21-10 end

  @media (min-width: 320px) and (max-width: 480px) {
    .product-badge-sale {
      position: absolute;
      z-index: 10;
      left: 15px;
      top: 0;

      img {
        width: 50px;
        height: 50px;
        margin-left: 15px;
      }
    }
  }

  @media screen and (min-width: 1201px) and (max-width: 1366px) {
    .product-badge-sale {
      position: absolute;
      z-index: 10;
      left: 15px;
      top: 0;

      img {
        width: 50px;
        height: 50px;
        margin-left: -15px;
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .product-badge-sale {
      position: absolute;
      z-index: 10;
      left: 15px;
      top: 0;

      img {
        width: 50px;
        height: 50px;
        margin-left: -15px;
      }
    }
  }

  @media (min-width: 1367px) and (max-width: 1516px) {
    .product-badge-sale {
      position: absolute;
      z-index: 10;
      left: 15px;
      top: 0;

      img {
        width: 50px;
        height: 50px;
        margin-left: -15px;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .product-badge-sale {
      position: absolute;
      z-index: 10;
      left: 15px;
      top: 0;

      img {
        width: 50px;
        height: 50px;
        margin-left: 15px;
      }
    }
  }

  @media (min-width: 517px) and (max-width: 767px) {
    .product-badge-sale {
      position: absolute;
      z-index: 10;
      left: 15px;
      top: 0;

      img {
        width: 50px;
        height: 50px;
        margin-left: 15px;
      }
    }
  }

  @media (min-width: 1517px) and (max-width: 1920px) {
    .product-badge-sale {
      position: absolute;
      z-index: 10;
      left: 15px;
      top: 0;

      img {
        width: 50px;
        height: 50px;
        margin-left: -15px;
      }
    }
  }

  @media (min-width: 2049px) {
    .product-badge-sale {
      position: absolute;
      z-index: 10;
      left: 15px;
      top: 0;

      img {
        width: 50px;
        height: 50px;
        margin-left: -15px;
      }
    }
  }

  @media (min-width: 2040px) {
    .product-badge-sale {
      position: absolute;
      z-index: 10;
      left: 15px;
      top: 0;

      img {
        width: 50px;
        height: 50px;
        margin-left: -15px;
      }
    }
  }

  @media screen and (min-width: 1201px) and (max-width: 1366px) {
    .ccRow-mostPopular {
      margin-left: 28px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .ccRow-mostPopular {
      margin-left: 54px;
    }
  }



