---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sfbrowseshop-config
data:
  NEXT_PUBLIC_APIURL: "http://ab-aggregator/"
  APIURL: "http://ab-aggregator/"
  IMAGEPATH: ""
  YOTPO_KEY: "Xzwy9124YJ6LKTkJdWTSfw6Vij93GMnCjDzxdi9t"
  GA_KEY: "GTM-NLXT83"
  LISTRACK_MID: "LhfaAOez5ttd"
  RETISIO_ID: "RT-DM-18988-1"
  SITEID: "abs-dev-001"
  DARTMOUTH_URL: "https://sdk.lle.retisio.io/retisio-sdk.js"
  HOME_PAGE_CACHE: "3600000"
  PDP_PAGE_CACHE: "86400000"
  STATIC_PAGE_CACHE: "86400000"
