.accessibilityContainer {
    .cc-rich-text {
        padding: 0px 0px 40px;
    }
    .accessible-badge {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 18%;
    }
    .accessibleBadgeImg {
        margin-bottom: 14px;
    }
    .pb40 {
        padding-bottom: 40px !important;
    }
}
