.refund-policy {
    .cc-image {
        text-align: left;
    }
    .panel-main-image {
        border-width: 0px;
        border-color: rgb(0, 0, 0);
        border-style: solid;
        padding: 0px;
    }
    .cc-rich-text {
        padding: 0px;
    }
}
