---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: ab-storefrontsnb
  name: ab-storefrontsnb
spec:
  replicas: ${RETISIOFRONTREPLICA}
  selector:
    matchLabels:
      app: ab-storefrontsnb
  template:
    metadata:
      labels:
        app: ab-storefrontsnb
    spec:
      containers:
        -
          image: "${IMAGE}:${IMAGETAG}"
          name: ab-be
          ports:
            -
              containerPort: 3000
          envFrom:
            - configMapRef:
                name: sfbrowseshop-config
          resources:
            limits:
              memory: ${LIMITS_MEMORY}
            requests:
              cpu: ${REQUEST_CPU}
              memory: ${REQUEST_MEMORY}
          readinessProbe:
            initialDelaySeconds: 5
            periodSeconds: 5
            httpGet:
              port: 3000
              path: /api/health
              scheme: HTTP
          livenessProbe:
            initialDelaySeconds: 10
            failureThreshold: 3
            periodSeconds: 5
            timeoutSeconds: 2
            httpGet:
              port: 3000
              path: /api/health
              scheme: HTTP
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
  labels:
  name: ab-storefrontsnb
spec:
  ports:
  - port: 80
    targetPort: 3000
    name: ab-be
  selector:
    app: ab-storefrontsnb
  type: NodePort