---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: sf-browsenshop
  name: sf-browsenshop
spec:
  replicas: ${RETISIOFRONTREPLICA}
  selector:
    matchLabels:
      app: sf-browsenshop
  template:
    metadata:
      labels:
        app: sf-browsenshop
    spec:
      containers:
        -
          image: "${IMAGE}:${IMAGETAG}"
          name: sfbrowsenshop
          ports:
            -
              containerPort: 3000
          envFrom:
            - configMapRef:
                name: sfbrowsenshop-config
          resources:
            limits:
              memory: ${LIMITS_MEMORY}
            requests:
              cpu: ${REQUEST_CPU}
              memory: ${REQUEST_MEMORY}
          readinessProbe:
            initialDelaySeconds: 20
            periodSeconds: 5
            httpGet:
              port: 3000
              path: /api/health
              scheme: HTTP
          livenessProbe:
            initialDelaySeconds: 20
            failureThreshold: 3
            periodSeconds: 5
            timeoutSeconds: 2
            httpGet:
              port: 3000
              path: /api/health
              scheme: HTTP

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
  labels:
  name: sf-browsenshop
spec:
  ports:
  - port: 80
    targetPort: 3000
    name: sfbrowsenshop
  selector:
    app: sf-browsenshop
  type: NodePort