.mobileNavLevel1Item {
    @media screen and (max-width: 991px) {
        .mobile-menu .navbar-header {
            background-color: $colorMobileMenuDark;
        }
        .mobile-menu__level {
            background-color: $colorPrimary;
        }
        .mobile-menu__level .aside-bottom-nav {
            background-color: $colorMobileMenuDark;
        }
        .icon-chevron-right {
            color: $colorWhite;
            background-color: $colorMobileMariner;
            border-radius: 20px;
            padding: 0.6rem;
        }
    }

    @media screen and (max-width: 991px) {
        .mobile-menu__back, a.mobile-menu__back {
            background-color: $colorMobileMenuDark;
            color: $colorWhite;
        }
        .navbar-title.text-elipsis {
            color: $colorWhite;
        }
    }

}


