 .mobile-header {
    .navdrawer {
        transition: all .1s linear;
    }

    @media (min-width: 517px) and (max-width: 767px) {
        .home-header-container .navbar-toggle {
            float: left;
            margin: 0;
        }
    }
 
    .header-actions-redesign-mobile {
        .header-actions-search {
            .input-group {
                // position: absolute;
                // right: 235px;
                background-color: $colorVeryLightGray;
                // width: 100%;
                padding: 10px;
                background-position: 100% center;
                border-radius: 10px;
                  .ab-search {
                    background-color: $colorVeryLightGray;
                    border: none;
                    color: $colorBlack;
                    width: 230px;
                    outline: none;
                }
            }
        }
        .ab-searchProducts {
            position: absolute;
            right: -1px;
            bottom: 0px;
            top: 0px;
            background-color: #771e14;
            padding: 4px;
            border-style: none;
            border-radius: 0 10px 10px 0;

            .icon.icon-search.fa.fa-search {
                padding: 0.3rem;
                color: $colorWhite;
                font-size: 18px;
            }
        }
    }

    @media (min-width: 517px) and (max-width: 767px) {
        .navbar-toggle {
            .icon-bar {
                width: 27px;
                height: 3px;
                background: #fff;
            }
        }
    }
}


