.mobileNavLevel1Item {
    @media screen and (max-width: 991px) {
        .mobile-menu .navbar-header {
            background-color: $colorMobileMenuDark;
        }
        .mobile-menu__level {
            background-color: $colorPrimary;
        }
        .mobile-menu__level .aside-bottom-nav {
            background-color: $colorMobileMenuDark;
        }
        .icon-chevron-right {
            color: $colorWhite;
            background-color: $colorMobileMariner;
            border-radius: 20px;
            padding: 0.6rem;
        }
    }

    @media screen and (max-width: 991px) {
        .mobile-menu__back, a.mobile-menu__back {
            background-color: $colorMobileMenuDark;
            color: $colorWhite;
        }
        .navbar-title.text-elipsis {
            color: $colorWhite;
        }
    }
    /* ABUAT-65 starts here */
    // .mobileMenuLevelOneItems {
    //     background-color: #98B4C3;
    //     color: $colorBlack;
    //     a.mobile-menu__btn {
    //         text-decoration: none;
    //         &:focus {
    //             outline: 3px solid white;
    //         }
    //         .navbar-title.text-elipsis{
    //             color: $colorBlack;
    //         }
    //     }
    //     .icon-chevron-right {
    //         background-color: #ACC2CE;
    //         color: $colorBlack;
    //     }
    // }
    // .mobile-level-2 {
    //     li {
    //         background-color: #98B4C3;
    //         a {
    //             text-decoration: none;
    //             color: $colorBlack !important;
    //             &:focus {
    //                 outline: 3px solid white;
    //             }
    //         }
    //     }
    //     h2.mobile-submenu__title {
    //         background-color: $colorPrimary;
    //     }
    // }
    .mobile-level-2 {
        h2.mobile-submenu__title {
            background-color: #98B4C3;
        }
    }
    /* ABUAT-65 ends here */
}


