.catalog-filter__block{
    .accordion-header {
        background-color: #1e4783;
        border: 0;
        border-radius: 0;
        color: #fff;
        padding: 0;
    }
    // .accordion-button {
    //     position: absolute;
    //     right: 15px;
    //     top: 7px;
    //     font-size: 23px;
    //     transform: rotate(-180deg);
    //     transition: .25s;
    // }
}
