$color_1: #008000;
$background-color_1: transparent;
$background-color_2: #fff;
$background-color_3: rgba(255, 255, 255, 0.8);
$background-color_4: #808080;
$spinner: 12;
// $animation: 1;

@mixin animate-rotation-from {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
}

@mixin animate-rotation-to {
	transform: rotate(359deg);
	-webkit-transform: rotate(359deg);
	-moz-transform: rotate(359deg);
	-ms-transform: rotate(359deg);
	-o-transform: rotate(359deg);
}

@-webkit-keyframes cc-rotation {
	from {
		@include animate-rotation-from;
	}
	to {
		@include animate-rotation-to;
	}
}
@-moz-keyframes cc-rotation {
	from {
		@include animate-rotation-from;
	}
	to {
		@include animate-rotation-to;
	}
}
@-ms-keyframes cc-rotation {
	from {
		@include animate-rotation-from;
	}
	to {
		@include animate-rotation-to;
	}
}
@-o-keyframes cc-rotation {
	from {
		@include animate-rotation-from;
	}
	to {
		@include animate-rotation-to;
	}
}
@keyframes cc-rotation {
	from {
		@include animate-rotation-from;
	}
	to {
		@include animate-rotation-to;
	}
}
@-webkit-keyframes cc-fade {
	from {
		opacity: 1;
	}
	to {
		opacity: .25;
	}
}
@-moz-keyframes cc-fade {
	from {
		opacity: 1;
	}
	to {
		opacity: .25;
	}
}
@-ms-keyframes cc-fade {
	from {
		opacity: 1;
	}
	to {
		opacity: .25;
	}
}
@-o-keyframes cc-fade {
	from {
		opacity: 1;
	}
	to {
		opacity: .25;
	}
}
@keyframes cc-fade {
	from {
		opacity: 1;
	}
	to {
		opacity: .25;
	}
}
#loadingModal {
	.cc-spinner {
		background-color: $background-color_1;
		top: 25%;
	}
	.cc-spinner-css {
		div {
			background: #fff;
		}
	}
}
.loadingIndicator {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $background-color_2;
	opacity: .8;
	z-index: 10000;
}
.cc-spinner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $background-color_3;
	z-index: 0;
	text-align: center;
	.cc-spinner-animation {
		-webkit-animation: cc-rotation 2s infinite linear;
		-moz-animation: cc-rotation 2s infinite linear;
		-ms-animation: cc-rotation 2s infinite linear;
		-o-animation: cc-rotation 2s infinite linear;
		animation: cc-rotation 2s infinite linear;
		font-size: large;
		color: $color_1;
	}
}
.cc-spinner-css {
	background-color: $background-color_4;
	width: 90px;
	height: 90px;
	border-radius: 6px;
	position: relative;
	div {
		width: 5%;
		height: 13%;
		top: 42%;
		background: #fff;
		position: absolute;
		left: 47%;
		opacity: 0;
		-webkit-animation: cc-fade 1s linear infinite;
		-moz-animation: cc-fade 1s linear infinite;
		-ms-animation: cc-fade 1s linear infinite;
		-o-animation: cc-fade 1s linear infinite;
		animation: cc-fade 1s linear infinite;
		border-radius: 50px;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	}
	@for $i from 1 through $spinner {
        .cc-spinner-css-#{$i} {
			transform: rotate(#{(($i)-1)*30}deg) translate(0, -142%);
            -webkit-transform: rotate(#{(($i)-1)*30}deg) translate(0, -142%);
            -moz-transform: rotate(0deg) translate(0, -142%);
            -ms-transform: rotate(0deg) translate(0, -142%);
            -o-transform: rotate(0deg) translate(0, -142%);
        }
    }
	.cc-spinner-css-1 {
		animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-o-animation-delay: 0s;
	}
	.cc-spinner-css-2 {
		animation-delay: -0.9167s;
		-webkit-animation-delay: -0.9167s;
		-moz-animation-delay: -0.9167s;
		-ms-animation-delay: -0.9167s;
		-o-animation-delay: -0.9167s;
	}
	.cc-spinner-css-3 {
		animation-delay: -0.833s;
		-webkit-animation-delay: -0.833s;
		-moz-animation-delay: -0.833s;
		-ms-animation-delay: -0.833s;
		-o-animation-delay: -0.833s;
	}
	.cc-spinner-css-4 {
		animation-delay: -0.75s;
		-webkit-animation-delay: -0.75s;
		-moz-animation-delay: -0.75s;
		-ms-animation-delay: -0.75s;
		-o-animation-delay: -0.75s;
	}
	.cc-spinner-css-5 {
		animation-delay: -0.667s;
		-webkit-animation-delay: -0.667s;
		-moz-animation-delay: -0.667s;
		-ms-animation-delay: -0.667s;
		-o-animation-delay: -0.667s;
	}
	.cc-spinner-css-6 {
		animation-delay: -0.5833s;
		-webkit-animation-delay: -0.5833s;
		-moz-animation-delay: -0.5833s;
		-ms-animation-delay: -0.5833s;
		-o-animation-delay: -0.5833s;
	}
	.cc-spinner-css-7 {
		animation-delay: -0.5s;
		-webkit-animation-delay: -0.5s;
		-moz-animation-delay: -0.5s;
		-ms-animation-delay: -0.5s;
		-o-animation-delay: -0.5s;
	}
	.cc-spinner-css-8 {
		animation-delay: -0.41667s;
		-webkit-animation-delay: -0.41667s;
		-moz-animation-delay: -0.41667s;
		-ms-animation-delay: -0.41667s;
		-o-animation-delay: -0.41667s;
	}
	.cc-spinner-css-9 {
		animation-delay: -0.333s;
		-webkit-animation-delay: -0.333s;
		-moz-animation-delay: -0.333s;
		-ms-animation-delay: -0.333s;
		-o-animation-delay: -0.333s;
	}
	.cc-spinner-css-10 {
		animation-delay: -0.25s;
		-webkit-animation-delay: -0.25s;
		-moz-animation-delay: -0.25s;
		-ms-animation-delay: -0.25s;
		-o-animation-delay: -0.25s;
	}
	.cc-spinner-css-11 {
		animation-delay: -0.1667s;
		-webkit-animation-delay: -0.1667s;
		-moz-animation-delay: -0.1667s;
		-ms-animation-delay: -0.1667s;
		-o-animation-delay: -0.1667s;
	}
	.cc-spinner-css-12 {
		animation-delay: -0.0833s;
		-webkit-animation-delay: -0.0833s;
		-moz-animation-delay: -0.0833s;
		-ms-animation-delay: -0.0833s;
		-o-animation-delay: -0.0833s;
	}
}
.ie-show {
	display: none;
}

// Ellipse Loader Styles
.lds-ellipsis {
	display: block;
	position: relative;
	width: 80px;
	height: 80px;
	margin: 0 auto;
  }
  .lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #00466a;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
	0% {
	  transform: scale(0);
	}
	100% {
	  transform: scale(1);
	}
  }
  @keyframes lds-ellipsis3 {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(0);
	}
  }
  @keyframes lds-ellipsis2 {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(24px, 0);
	}
  }
