@import '../variables.scss';

section:has(.productRecommendations){
	background-color: $colorBackgroundGray;
    margin-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    h1{
        margin: 40px 0 35px;
    }
}
