@import '../variables.scss';

section:has(.productRecommendations),section:has(.imageCarousel),section:has(.productCarousel){
	background-color: $colorBackgroundGray;
    margin-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    h1{
        margin: 40px 0 35px;
    }
    .slick-prev, .slick-next {
        border: 1px solid #939393;
        border-radius: 50%;
        padding: 8px 25px 25px 8px;
        margin-left: -15px;
        background-color: white;
    }
    .slick-prev {
        margin-left: -15px;
    }
    .slick-next {
        margin-right: -15px;
    }
    .slick-prev:before, .slick-next:before {
        line-height: 0.4;
    }
    .slick-disabled {
        background-color: $colorBackgroundGray;
    }
}

.imageCarousel-container{
    position: relative;
    .saleImage{
        position: absolute;
        top: 0px;
    }
}

.row:has(.customherobanner){
    position: relative;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
}
.customherobanner{
    padding: 0px;
    .slick-prev{
        z-index: 999;
        left: 6px;
        background-color: black;
        border-radius: 20px;
        height: 27px;
        width: 27px;
    }
    .slick-next{
        right: 18px;
        z-index: 999;
        background-color: black;
        border-radius: 20px;
        height: 27px;
        width: 27px;
    }
    .slick-prev:before{
        content: "\e079" !important;
        color: #fff;
    }
    .slick-next:before{
        content: "\e080" !important;
        color: #fff;
    }
    .slick-dots li button:before{
        background-color: black;
        height: 10px;
        width: 10px;
        line-height: 10px;
        border-radius: 20px;
        font-family: none;
    }
}