---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sfbrowsenshop-config
data:
  NEXT_PUBLIC_APIURL: "http://sf-aggregator/"
  APIURL: "http://sf-aggregator/"
  IMAGEPATH: ""
  YOTPO_KEY: ""
  GA_KEY: "GTM-T7CJ6PX"
  LISTRACK_MID: ""
  RETISIO_ID: ""
  SITEID: ""
  DARTMOUTH_URL: ""
  APPTYPE: "CXP"