.blogContainer {
         
   .product-card {
        background-color: #fff;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        position: relative;
        transition: all .2s;
        height: 335px;
    }

    .product-card a {
        color: inherit;
        text-indent: 100%;
        overflow: hidden;
    }
    .product-image {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        display: block;
        // padding-bottom: 100%;
        line-height: 0;
        font-size: 0;
        color: transparent;
    }
 }
    
    
