 .home-header-container #header {

    @media screen and (min-width: 992px) {
        background-color: transparent;
        display: block;
        margin: 0;
      #header {
        z-index: 1030;
      }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        background-color: transparent;
        display: block;
    }

    .header-content-redesign {
      .container-navmenubar-redesign {
        .header-content-inner-redesign {
          background-color: #363636;
        }
      }
    }
    
    #header-1-redesign {
      .search-box-redesign {
        .header-search-form-redesign {
          height: 10px;
        }
    
        .input-group {
          width: 100%;
          padding: 5px 15px;
          line-height: 10px;
          background-color: $colorWhite;
          background-position: 100% center;
          border-radius: 50px;
          border: 1px solid #575756;
          margin: 10px;
    
          &::placeholder {
            color: color(#575756 a(0.8));
            letter-spacing: 1.5px;
          }
    
          .ab-search-redesign {
            width: 100%;
            border: none;
            border-right: none;
            padding: 15px;
            height: 5px;
            border-radius: 5px 0 0 5px;
            outline: none;
            color: #9dbfaf;
          }
        }
      }
    }
    
    .ab-searchProducts-redesign {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: #771e14;
      padding: 1px;
      border-radius: 0 50px 50px 0;
    
      .icon.icon-search.fa.fa-search {
        padding: 1rem;
        color: $colorWhite;
      }
    }
    
    .icon-redesign {
      margin: 10px;
      .header-actions-redesign {
        .icon {
          font-size: 20px;
        }
    
        .label-redesign {
          padding: 10px;
    
          span {
            color: $colorWhite;
          }
        }
    
        .btn-primary {
          background-color: none !important;
          border-color: none !important;
        }
    
        .icon {
          color: $colorWhite;
          background-color: none;
        }
      }
    }
     
    @media screen and (min-width: 992px) {
      .home-header-container .head-actn {
        font-size: 12px;
        margin: 5px 5px 5px 5px;
        align-items: center;
        float: right;
      }
    }

    .header-sticky.js-sticky-menu.is_stuck {
      position: fixed;
      top: 0;
      width: 100%;
      transition: .1s ease-in-out;
    }

    @media screen and (max-width: 768px) {
      .header-sticky.js-sticky-menu.is_stuck {
        position: inherit;
      }
    }

    @media screen and (min-width: 768px) {
      .home-header-container .header-sticky {
        z-index: 1000;
      }
    }

  @media screen and (min-width: 768px) {
    .header-sticky.is_stuck {
      .navbar {
        &-nav {
          width: 100%;
          

          .nav-item {
            //A360 #51 start
            display: block;
            //A360 #51 end
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1366px) {
    .header-sticky.js-sticky-menu.is_stuck {
      .navbar.redesign-navbar {
        .header-menu {
          position: absolute;
          right: 0;
          bottom: 20px;
        }
      }
    }
  }
  @media (min-width: 1366px) {
    .header-sticky.js-sticky-menu.is_stuck {
      .navbar.redesign-navbar {
        .header-menu {
          position: absolute;
          right: 0;
          bottom: 20px;
        }
      }
    }
  }
    
    #logo-redesign {
      img {
        margin: 10px 15px 15px 25px;
    
        @media screen and (min-width: $screen-md-min) {
          height: 33px;
        }
    
        @media screen and (min-width: 768px) {
          height: 33px;
        }
        @media (min-width: 320px) and (max-width: 480px) {
          height: 42px;
          width: 70%;
        }
    
        @media (min-width: 500px) and (max-width: 516px) {
          height: auto;
          width: 86%;
        }
      }
    }
    
    .home-header-container {
      @media (min-width: 320px) and (max-width: 480px) {
        .header {
          &-sticky {
            background-color: $colorWhite;
            ;
            z-index: $zindex-navbar;
          }
        }
      }
    
      @media (min-width: 500px) and (max-width: 516px) {
        .header {
          &-sticky {
            background-color: $colorWhite;
            ;
            z-index: $zindex-navbar;
          }
        }
      }
  
      @media screen and (min-width: 768px) {
        .header {
          &-sticky {
            background-color: transparent;
            z-index: $zindex-navbar;
          }
        }
      }

      @media screen and (min-width: 992px) {
        .header {
          &-sticky {
            background-color: transparent;
            z-index: $zindex-navbar;
          }
        }
      }
    
      @media screen and (min-width: 1201px) and (max-width: 1366px) {
        .header {
          &-sticky {
            background-color: transparent;
            z-index: $zindex-navbar;
          }
        }
      }
    }
  }

  .home-header-container #header {
    .header-sticky.js-sticky-menu.is_stuck {
      .navbar.redesign-navbar {
        background: #2c2828;
        // margin-left: 8px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .home-header-container #header {
      .header-sticky.js-sticky-menu.is_stuck {
        .navbar.redesign-navbar {
          background: none;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    .home-header-container #header {
      .header-sticky.js-sticky-menu.is_stuck {
        .navbar.redesign-navbar {
          margin-left: 0;
        }
      }
    }
  }

  @media screen and (min-width: 1366px) {
    .home-header-container #header {
      .header-sticky.js-sticky-menu.is_stuck {
        .navbar.redesign-navbar {
          margin-left: 8px;
        }
      }
    }
  }

  .home-header-container .nonHomePageHeader #header {
    .header-content-redesign {
      .container-navmenubar-redesign {
        .header-content-inner-redesign {
          background-color: #00466a;
          position: relative;
        }
      }
    }
  }

  .home-header-container .nonHomePageHeader #header {
    .navbar.redesign-navbar {
      background-color: #00466a;
      width: 100%;
      position: absolute;
    }
  }

  @media screen and (min-width: 768px) {
    .home-header-container .nonHomePageHeader #header {
      .header-sticky.is_stuck {
        .navbar {
          &-nav {
            background-color: #00466a;
          }
        }
      }
    }
  }

  .home-header-container .nonHomePageHeader #header {
    .navbar.redesign-navbar .header-dropdown-menu {
      background-color: #00466a;
    }
  }

  .home-header-container .nonHomePageHeader #header {
    .navbar.redesign-navbar .header-dropdown-menu {
      background-color: #00466a;
    }
  }

  .home-header-container .nonHomePageHeader #header {
    .navbar.redesign-navbar .header-dropdown-menu {
      .js-dropdown__btn:hover {  
        background-color: #126b98;
      }
    }
  }

  .home-header-container .nonHomePageHeader #header {
    .navbar.redesign-navbar .header-dropdown-menu {
      .sub-nav:hover .js-dropdown__btn {
        background-color: #126b98;
      }
    }
  }

  .home-header-container .nonHomePageHeader #header {
    .sub-nav1 {
      background-color: #126b98;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .home-header-container .navbar {
      background-color: transparent;
    }
  }


  @media (min-width: 768px) and (max-width: 991px) {
    .allenmainherobanner #overlay{
      position: absolute;
      background-color: rgba(95,118,118,0);
      z-index: 2;
      height: 100%;
      background-image: linear-gradient(180deg, #2c2828 4%, transparent 30%);
    }
  }

  main.page-row.page-row-expanded.nonHomePageHeader {
    margin-bottom: 75px;
  }

  .mini-cart-img {
	  width: 75px;
	  height: 75px;
	}
  
	a.mini-cart-btn {
	  color: #fff;
	  text-align: center;
	  vertical-align: middle;
	  cursor: pointer;
	  background-image: none;
    background-color: #f89b00;
	  border: 1px solid transparent;

	  white-space: nowrap;
	  padding: 6px 12px;
	  border-radius: 4px;
	  user-select: none;
	  text-decoration: none;
  
	  &-header {
		margin-bottom: 27px;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		white-space: nowrap;
		padding: 6px 12px;
		border-radius: 4px;
		user-select: none;
		text-decoration: none;
	  }
	}
.label-redesign {
	  button#headerAccnt-dropdown {
		padding: 0;
		margin: 0;
		background-color: transparent;
		width: auto;
		border-color: transparent;
		border-width: 2px;
		height: auto;
	  }
  
	  .dropdown-item {
		display: block;
		width: 100%;
		clear: both;
		padding: 3px 20px;
		color: #354052;
		font-weight: 300;
		line-height: 21px;
	  }
	}
