.navbar.redesign-navbar {

    background-color: transparent;
    position: absolute;
    width: 100%;

    .header-dropdown-menu { 
        background-color: #363636;
        padding-top: 35px;
        padding-right: 25px;
        padding-bottom: 35px;
        padding-left: 10px;
    }
    .header-dropdown-menu .category-list-item-navbar a {
        color: $colorWhite;
        display: inline-block;
        line-height: 3;
    }
    .header-dropdown-menu .category-list-item-navbar {
        font-size: 15px;
        /* font-weight: bold; */
        line-height: 28px;
    }
    .header-dropdown-menu .category-heading {
        color: $colorWhite;
        text-decoration: underline;
    }
    .header-menu {
        bottom: 12px;
        right: 12px;
        background-color: transparent;
        position: absolute;
        color: $colorWhite;
        border: 0;
        font-size: 10px;
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        .navbar-nav {
            display: flex;
            flex-direction: row;
        }
        .navbar-nav > li {
            // padding: 0 10px 0 10px;
            margin-left: 15px;
        }
        .header-menu {
            bottom: 13px;
            right: 0;
            padding: 1px;
        }
    }

    @media screen and (min-width: 992px) and (max-width: 1200px) {
        .header-menu {
            bottom: 11px;
            right: 0;
        }
        .navbar-nav > li {
            padding: 0 5px 0 5px;
            margin-left: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        .navbar-nav > li {
            padding: 0 20px 0 20px;
            margin-left: 30px;
        }
    }

    .navbar-nav.nav > li > a:hover, .navbar-nav.nav .open > a {
        color: $colorWhite;
        background-color: transparent;
    }

    .navbar-nav.nav > li > a {
        color: #ffffff;
        display: block;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.53px;
        line-height: 19px;
        margin-top: 5px;
        padding-top: 10px;
        text-align: center;
    }

    .dropdown-menu {
        min-width: 400px;
    }
}