.navbar.redesign-navbar {

    background-color: transparent;
    position: absolute;
    width: 100%;

    .dropdown-menu {
        min-width: 200px;
        display: none;
    }
    .nav-item:not(:first-child) {
        margin-left: 0;
    }
    .navListItems {
        display: flex;
        padding: 5px 15px 5px 10px;
        position: relative;
        flex: 0 1 auto;
    }
    .navListItems .first-dropdown {
        display: none;
    }
    .navListItems .first-dropdown:hover{
        display: block;
    }

    .js-dropdown__btn {
        color: $colorWhite;
        display: block;
        padding: 10px;
        margin-left: 10px;
        background-color: $colorGray;
        text-align: left;
    }

    .sub-nav:hover .js-dropdown__btn  {
        background-color: $colorEclipse;
        border-left: 7px solid $colorBrandRed;
        font-size: 16px;
        margin-left: 0;
    }
    
    .sub-nav1 {
        // transform: translate(184px,-456px);
        background-color: $colorEclipse;
        padding: 10px;    
        line-height: 2.5;
        margin: 0;
    }

    .category-list-item-navbar { 
        margin-left: 20px;
        margin-top: 6px;
    }
    .category-list-item-navbar a { 
        color: $colorWhite;
    }

    .header-dropdown-menu { 
        background-color: $colorGray;
    }
    .header-dropdown-menu.dropdown-menu.nav-redesign {
        padding-top: 35px;
        padding-bottom: 35px;
        .category-list-item {
            padding: 15px 25px 15px 15px;
            line-height: 17px;
        }
        .category-list-item:hover {
            // font-size: 17px;
            background-color: $colorEclipse;
            a {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
    .header-dropdown-menu .category-list-item a {
        color: $colorWhite;
        display: inline-block;
        // line-height: 3;
        font-weight: normal;
    }
    .header-dropdown-menu .list-heading {
        text-decoration: underline;
        text-underline-offset: 12px;
        padding: 3px;
        min-width: 225px;
    }

    .header-dropdown-menu .bg-color {
        min-width: 225px;
        height: 100vh;
    }

    .nav-list li:hover {
        .category-list, .dropdown-menu {
            display: block;
        }
    }
    .firstDropDownMegaMenu {
        left: -7px;
    }

    .c-list li {
        .homeDropdownMenu {
            .sub-nav1 {
                display: none;
            }
        }
    }
    .c-list li:hover {
        .homeDropdownMenu {
            font-size: 12px;
            .sub-nav1 {
                display: block;
            }
        }
    }

    .navbar-nav.nav > li > a:hover, .navbar-nav.nav .open > a {
        color: $colorWhite;
        background-color: transparent;
    }

    .navbar-nav.nav > li > a {
        color: $colorWhite;
        display: block;
        font-size: 13px;
        letter-spacing: 0.53px;
        line-height: 19px;
        text-align: center;
    }

    .header-menu {
        font-size: 10px;
        background-color: transparent;
        border: none;
        color: $colorWhite;
    }
        
    @media (min-width: 768px) {
        .navbar-nav {
            float: none; 
            margin: 0;
        }
    }

    .header-dropdown-menu .category-heading {
        color: $colorWhite;
        font-size: 14px;
        padding-left: 30px;
        font-weight: 600;
    }
    
    @media (min-width: 768px) and (max-width: 992px) {
        .nav-list {
            display: flex;
            flex-direction: row;
        }
    }
    @media (min-width: 992px) {
        .nav-list {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
    .nav-item.js-dropdown.sub-nav .homeDropdownMenu { display: none;}
    .firstDropDownMegaMenu .nav-item.js-dropdown.sub-nav:hover .homeDropdownMenu { display: block; padding: 20px 0;}
    .firstDropDownMegaMenu {
        height: 100vh;
        .homeDropdownMenu {
            top: 25px;
            left: 200px;
            padding: 0;
        }
    }
    .mobileMenuContainer {
        margin-top: -45px;
        width: 400px;
    }
}