.navbar.redesign-navbar {

    background-color: transparent;
    position: absolute;
    width: 100%;

    .dropdown-menu {
        min-width: 200px;
        display: none;
    }
    .nav-item:not(:first-child) {
        margin-left: 0;
    }
    .navListItems {
        display: flex;
        padding: 5px 15px 5px 10px;
        position: relative;
        flex: 0 1 auto;
    }

    .js-dropdown__btn {
        color: $colorWhite;
        display: block;
        padding: 10px;
        margin-left: 10px;
        background-color: $colorGray;
        text-align: left;
    }

    .sub-nav:hover .js-dropdown__btn,
    .nav-item.sub-nav.active .js-dropdown__btn {
        background-color: $colorEclipse;
        border-left: 7px solid $colorBrandRed;
        font-size: 16px;
        margin-left: 0;
    }
    
    .sub-nav1 {
        padding: 10px;    
        line-height: 2.5;
        margin: 0;
    }

    .category-list-item-navbar { 
        margin-left: 20px;
        margin-top: 6px;
    }
    .category-list-item-navbar a { 
        color: $colorWhite;
    }

    .header-dropdown-menu { 
        background-color: $colorGray;
    }
    .header-dropdown-menu.dropdown-menu.nav-redesign {
        padding-top: 35px;
        padding-bottom: 35px;
        .category-list-item {
            padding: 15px 25px 15px 15px;
            line-height: 17px;
        }
        .category-list-item:hover {
            background-color: $colorEclipse;
            a {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
    .header-dropdown-menu .category-list-item a {
        color: $colorWhite;
        display: inline-block;
        font-weight: normal;
    }
    .header-dropdown-menu .list-heading {
        text-decoration: underline;
        text-underline-offset: 12px;
        padding: 3px;
        min-width: 225px;
    }

    .header-dropdown-menu .bg-color {
        min-width: 225px;
        height: 100vh;
    }

    .nav-list li:hover {
        .category-list, .dropdown-menu {
            display: block;
        }
    }
    .firstDropDownMegaMenu {
        left: -7px;
        @media (min-width: 768px) and (max-width: 1024px) {
            left: -15px;
        }
    }

    .c-list li {
        .homeDropdownMenu {
            .sub-nav1 {
                display: none;
            }
        }
    }
    .c-list li:hover {
        .homeDropdownMenu {
            font-size: 12px;
            .sub-nav1 {
                display: block;
            }
        }
    }

    .navbar-nav.nav > li > a:hover, .navbar-nav.nav .open > a {
        color: $colorWhite;
        background-color: transparent;
    }

    .navbar-nav.nav > li > a {
        color: $colorWhite;
        display: block;
        font-size: 13px;
        letter-spacing: 0.53px;
        line-height: 19px;
        text-align: center;
    }

    .header-menu {
        font-size: 10px;
        background-color: transparent;
        border: none;
        color: $colorWhite;
        position: absolute;
        right: 5px;
        top: 18px;
    }

    .header-dropdown-menu .category-heading {
        color: $colorWhite;
        font-size: 14px;
        padding-left: 30px;
        font-weight: 600;
    }
    
    @media (min-width: 768px) {
        .navbar-nav {
            float: none;
            margin: 0;
        }
        .nav-list {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
    }
    .firstDropDownMegaMenu .nav-item.js-dropdown.sub-nav:hover .homeDropdownMenu { height: 100vh;}
    .firstDropDownMegaMenu {
        height: 100vh;
        .threeColumnLayout {
            width: 640px;
        }
        .twoColumnLayout {
            width: 440px;
        }
        .oneColumnLayout {
            width: 230px;
        }
        .homeDropdownMenu {
            top: 0;
            left: 200px;
            padding: 0;
            background-color: $colorEclipse;
            font-size: 12px;
            .sub-nav1 {
                min-width: 100px;
                padding-left: 0;
                height: auto;
            }
            .category-list-item-navbar,
            .list-heading {
                margin-left: 0;
                padding-left: 20px;
            }
            .category-list-item-navbar {
                line-height: 16px;
                padding-top: 7px;
                padding-bottom: 7px;
            }
        }
        //AB-1925 starts here
        .shopAllInL2Category {
            text-decoration: underline;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            text-underline-offset: 8px;
        }
        //AB-1925 ends here
    }
    .mobileMenuContainer {
        padding: 0 10px;
    }
    .categoryL1ListContainer {
        position: relative;
        .header-menu {
            top: 5px;
            // display: none;
        }
    }
    .navListItems.active .level0Menu {
        display: block;
    }
    .nav-item.sub-nav.active .level1Menu {
        display: block;
        height: 100vh;
        .sub-nav1 {
            display: block;
        }
    }
    .navListItems:hover .categoryL1ListContainer .header-menu {
        display: none;
    }

}

.home-header-container #header {
    .header-sticky.js-sticky-menu.is_stuck {
        .homeDropdownMenu, .firstDropDownMegaMenu .nav-item {
            background-color: $colorLightBlue;
        }
        .navbar.redesign-navbar {
            background-color: $colorDeepBlue;
            .js-dropdown__btn, .categoryL1ListContainer {
              background-color: $colorDeepBlue;
            }
            .sub-nav:hover .js-dropdown__btn,
            .nav-item.sub-nav.active .js-dropdown__btn {
              background-color: $colorLightBlue;
            }
          }
    }
}
.home-header-container .nonHomePageHeader #header .navbar.redesign-navbar {
    .homeDropdownMenu,
    .sub-nav:hover .js-dropdown__btn,
    .nav-item.sub-nav.active .js-dropdown__btn {
        background-color: $colorLightBlue;
    }
}
