.product-title-wrapper {
    position: relative;
    width: 57%;
    float: right;
    z-index: 999;
    text-align: left;
}

 .usda-prime-logo {
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 18px;
}

