.product-title-wrapper {
    position: relative;
    float: right;
    z-index: 999;
    text-align: left;
}

 .usda-prime-logo {
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 18px;
}

.pdpMainContainer {
    .add-to-cart.btn {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.46px;
        line-height: 20px;
    }
}
.pdp-btn-wishlist{
    margin-top: 12px;
    margin-left: 32px;
    text-transform: uppercase;
    min-width: 170px;
}