.product-title-wrapper {
    position: relative;
    width: 57%;
    float: right;
    z-index: 999;
    text-align: left;
}

 .usda-prime-logo {
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 18px;
}

.pdpMainContainer {
    .add-to-cart.btn {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.63px;
        line-height: 28px;
    }
}
