.promo-banner {

    .header-actions-account {
        .icon-phone {
            color: $colorWhite;
        }
        .phone-number {
            color: $colorWhite;
        }
    }
    @media (min-width: 992px) {
        .col-md-4 {
            width: 23.333333%;
        }
    }
}


