.categoryContainer {
    // width: 1170px;
    // margin: 0 auto;
    // padding: 0 15px;

    .hidden {
        display: none;
    }
    .product-card-inner {
        border: 1px solid #dfe3e9;
    }
    .result-title-count {
        margin-right: 6px;
    }
    .countOne {
        margin-right: 7px;
    }
}
