// Colors
$colorBrandTeal: #7E92A0;
$colorPrimary: #512435;
$colorBlue: #003399;
$colorDarkBlue: #744e5b;
$colorDeepBlue: #744f5b;
$colorDeeppurple: #8c6b78;
$colorLightBlue: #8c6b78;
$colorOceanBlue: #62A1B5;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorVeryLightGray: #E1E1E1;
$colorGray: #744f5b;
$colorOrange: #DB7900;
$coloYellow: #F89B00;
$colorMobileMenu: $colorPrimary;
$colorMobileMenuDark: #06234E;
$colorMobileMariner: #386499;
$colorBrandRed: #744f5c;

$colorShippingGreen: #00A074;
$colorShippingBlue: #0673B3;
$colorShippingPink: #CD7AA7;
$colorShippingOrange: #D36027;
$colorShippingYellow: #F2E645;
$colorBackgroundGray: #f8f8f8;

$colorNobel: #9b9b9b;
$colorEclipse: #8c6b78;

// Fonts
$fontFamilyBase: 'Montserrat';
$fontFamilyLato: 'Lato';

// Z-index master list
$zindex-navbar:            1000;
$zindex-page-overlay:      1010;
$zindex-navbar-mobile:     1020;
$zindex-header:            1030;
$zindex-dropdown:          1000;
$zindex-popover:           1060;
$zindex-tooltip:           1070;
$zindex-navbar-fixed:      1030;
$zindex-modal-background:  1040;
$zindex-modal:             1050;

$sansFontFamily:'helivatica';

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

/***** Colors *****/

$ButtonPrimaryBackgroundColor : #195d8e;
$ButtonPrimaryBorderRadius : 4px;
$ButtonPrimaryFontFamily : $sansFontFamily;
$ButtonPrimaryFontStyle : normal;
$ButtonPrimaryFontWeight : normal;
$ButtonPrimarySize : medium;
$ButtonPrimaryTextColor : #ffffff;
$ButtonPrimaryTextDecoration : none;
$ButtonPrimaryUseGradient : false;
$ButtonSecondaryBackgroundColor : #f7f7f7;
$ButtonSecondaryBorderRadius : 4px;
$ButtonSecondaryFontFamily : $sansFontFamily;
$ButtonSecondaryFontStyle : normal;
$ButtonSecondaryFontWeight : normal;
$ButtonSecondarySize : medium;
$ButtonSecondaryTextColor : #3d3d3d;
$ButtonSecondaryTextDecoration : none;
$ButtonSecondaryUseGradient : false;
$LinkColor : #195d8d;
$LinkHoverColor : #114062;
$LinkVisitedColor : #195d8d;
$NavbarBackgroundColor : #ffffff;
$NavbarBackgroundHoverColor : #ffffff;
$NavbarLinkColor : #3d3d3d;
$NavbarLinkHoverColor : #195d8d;
$NavbarTextColor : #333333;
$SubNavigationBackgroundColor : #ffffff;
$SubNavigationBackgroundHoverColor : #ffffff;
$SubNavigationLinkColor : #3d3d3d;
$SubNavigationLinkHoverColor : #195d8d;
$SubNavigationTextColor : #6f7178;
$TextColor : #333333;
$mobileNavBarButtonColor : #333333;


/***** Typography *****/

$H1FontFamily : inherit;
$H1FontSize : 2.75rem;
$H1FontStyle : inherit;
$H1FontWeight : bold;
$H1LineHeight : 150%;
$H1TextAlign : inherit;
$H1TextColor : inherit;
$H1TextDecoration : inherit;
$H2FontFamily : inherit;
$H2FontSize : 2.25rem;
$H2FontStyle : inherit;
$H2FontWeight : bold;
$H2LineHeight : 150%;
$H2TextAlign : inherit;
$H2TextColor : inherit;
$H2TextDecoration : inherit;
$H3FontFamily : inherit;
$H3FontSize : 1.75rem;
$H3FontStyle : inherit;
$H3FontWeight : bold;
$H3LineHeight : 150%;
$H3TextAlign : inherit;
$H3TextColor : inherit;
$H3TextDecoration : inherit;
$H4FontFamily : inherit;
$H4FontSize : 1.25rem;
$H4FontStyle : inherit;
$H4FontWeight : bold;
$H4LineHeight : 150%;
$H4TextAlign : inherit;
$H4TextColor : inherit;
$H4TextDecoration : inherit;
$H5FontFamily : inherit;
$H5FontSize : 1.00rem;
$H5FontStyle : inherit;
$H5FontWeight : normal;
$H5LineHeight : 150%;
$H5TextAlign : inherit;
$H5TextColor : inherit;
$H5TextDecoration : inherit;
$H6FontFamily : inherit;
$H6FontSize : 0.85rem;
$H6FontStyle : inherit;
$H6FontWeight : normal;
$H6LineHeight : 150%;
$H6TextAlign : inherit;
$H6TextColor : inherit;
$H6TextDecoration : inherit;
$ParagraphFontFamily : inherit;
$ParagraphFontSize : 1.00rem;
$ParagraphFontStyle : inherit;
$ParagraphFontWeight : normal;
$ParagraphLineHeight : 150%;
$ParagraphTextAlign : inherit;
$ParagraphTextColor : inherit;
$ParagraphTextDecoration : inherit;
$SiteFontFamily : $sansFontFamily;
$SiteFontSize : 14px;
$SiteFontStyle : normal;
$SiteFontWeight : normal;
$SiteLineHeight : 150%;
$SiteTextAlign : left;
$SiteTextColor : #333333;
$SiteTextDecoration : none;


/***** General *****/

$FooterBackgroundColor : #ffffff;
$FooterBackgroundColorBottom : #ffffff;
$FooterBackgroundColorTop : #ffffff;
$FooterBackgroundImageAttachment : scroll;
$FooterBackgroundImagePosition : top left;
$FooterBackgroundImageRepeat : repeat-x;
$FooterBackgroundImageURL : none;
$FooterBackgroundUseGradient : false;
$FooterBorderTopColor : #ffffff;
$HeaderBackgroundColor : #ffffff;
$HeaderBackgroundColorBottom : #ffffff;
$HeaderBackgroundColorTop : #ffffff;
$HeaderBackgroundImageAttachment : scroll;
$HeaderBackgroundImagePosition : bottom center;
$HeaderBackgroundImageRepeat : repeat-x;
// $HeaderBackgroundImageURL : url(/dam/AB/storefront/static/header-btm-line.png);
$HeaderBackgroundImageURL : url(../public/header-btm-line.png);
$HeaderBackgroundUseGradient : false;
$HeaderTopBackgroundColor : #ffffff;
$HeaderTopBackgroundColorBottom : #ffffff;
$HeaderTopBackgroundColorTop : #ffffff;
$HeaderTopBackgroundImageAttachment : scroll;
$HeaderTopBackgroundImagePosition : top left;
$HeaderTopBackgroundImageRepeat : repeat-x;
$HeaderTopBackgroundImageURL : none;
$HeaderTopBackgroundUseGradient : false;
$HeaderTopBorderBottomColor : #ffffff;
$HeaderTopPaddingTop : 25px;
$SiteBackgroundColor : #ffffff;
$SiteBackgroundColorBottom : #ffffff;
$SiteBackgroundColorTop : #ffffff;
$SiteBackgroundImageAttachment : fixed;
$SiteBackgroundImagePosition : top center;
$SiteBackgroundImageRepeat : no-repeat;
$SiteBackgroundImageURL : none;
$SiteBackgroundUseGradient : false;
$SitePageBackgroundColor : #ffffff;


// Carousel
/* Carousel starts */

$white:#fff !default;
$black:#000 !default;
$enable-transitions: true !default;
$enable-reduced-motion: true !default;
$enable-gradients: false !default;

// scss-docs-start carousel-variables
$carousel-control-color:             $white !default;
$carousel-control-width:             15% !default;
$carousel-control-opacity:           .5 !default;
$carousel-control-hover-opacity:     .9 !default;
$carousel-control-transition:        opacity .15s ease !default;

$carousel-indicator-width:           30px !default;
$carousel-indicator-height:          3px !default;
$carousel-indicator-hit-area-height: 10px !default;
$carousel-indicator-spacer:          3px !default;
$carousel-indicator-opacity:         .5 !default;
$carousel-indicator-active-bg:       $white !default;
$carousel-indicator-active-opacity:  1 !default;
$carousel-indicator-transition:      opacity .6s ease !default;

$carousel-caption-width:             70% !default;
$carousel-caption-color:             $white !default;
$carousel-caption-padding-y:         1.25rem !default;
$carousel-caption-spacer:            1.25rem !default;

$carousel-control-icon-width:        2rem !default;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !default;
$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$carousel-control-color}'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>") !default;

$carousel-transition-duration:       .6s !default;
$carousel-transition:                transform $carousel-transition-duration ease-in-out !default; // Define transform transition first if using multiple transitions (e.g., `transform 2s ease, opacity .5s ease-out`)
// scss-docs-end carousel-variables

// scss-docs-start carousel-dark-variables
$carousel-dark-indicator-active-bg:  $black !default;
$carousel-dark-caption-color:        $black !default;
$carousel-dark-control-icon-filter:  invert(1) grayscale(100) !default;
// scss-docs-end carousel-dark-variables
/* Carousel ends */

// Accordion
$body-bg:                   $white !default;
$gray-900:                 #212529 !default;
$body-color:                $gray-900 !default;
$blue:    #0d6efd !default;
$primary:                   $blue !default;
$border-width:                1px !default;
$variable-prefix:             bs- !default;
$prefix:                      $variable-prefix !default;
$border-radius:               .375rem !default;
$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$component-active-bg:         $primary !default;
$input-focus-border-color:              tint-color($component-active-bg, 50%) !default;
$input-btn-focus-width:         .25rem !default;
$input-btn-focus-color-opacity: .25 !default;
$input-btn-focus-color:         rgba($component-active-bg, $input-btn-focus-color-opacity) !default;
$input-btn-focus-blur:          0 !default;
$input-btn-focus-box-shadow:    0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color !default;
$btn-focus-box-shadow:        $input-btn-focus-box-shadow !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`


// scss-docs-start accordion-variables
$accordion-padding-y:                     1rem !default;
$accordion-padding-x:                     1.25rem !default;
$accordion-color:                         $body-color !default; // Sass variable because of $accordion-button-icon
$accordion-bg:                            $body-bg !default;
$accordion-border-width:                  $border-width !default;
$accordion-border-color:                  var(--#{$prefix}border-color) !default;
$accordion-border-radius:                 $border-radius !default;
$accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width) !default;

$accordion-body-padding-y:                $accordion-padding-y !default;
$accordion-body-padding-x:                $accordion-padding-x !default;

$accordion-button-padding-y:              $accordion-padding-y !default;
$accordion-button-padding-x:              $accordion-padding-x !default;
$accordion-button-color:                  $accordion-color !default;
$accordion-button-bg:                     var(--#{$prefix}accordion-bg) !default;
$accordion-transition:                    $btn-transition, border-radius .15s ease !default;
$accordion-button-active-bg:              tint-color($component-active-bg, 90%) !default;
$accordion-button-active-color:           shade-color($primary, 10%) !default;

$accordion-button-focus-border-color:     $input-focus-border-color !default;
$accordion-button-focus-box-shadow:       $btn-focus-box-shadow !default;

$accordion-icon-width:                    1.25rem !default;
$accordion-icon-color:                    $accordion-button-color !default;
$accordion-icon-active-color:             $accordion-button-active-color !default;
$accordion-icon-transition:               transform .2s ease-in-out !default;
$accordion-icon-transform:                rotate(-180deg) !default;

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
// scss-docs-end accordion-variables
