---
apiVersion: v1
kind: ConfigMap
metadata:
  name: sfbrowseshop-config
data:
  ENV_FILE: |
    NEXT_PUBLIC_APIURL: "http://ab-aggregator/"
    APIURL: "http://ab-aggregator/"
    IMAGEPATH: ""
    YOTPO_KEY: "Xzwy9124YJ6LKTkJdWTSfw6Vij93GMnCjDzxdi9t"
    GA_KEY: "GTM-NLXT83"
    LISTRACK_MID: "LhfaAOez5ttd"
    RETISIO_ID: "RT-DM-18988-2"
    SITEID: "abs-qa-001"